*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    background-color: #fff;
}

h1{
    padding-top:  2rem;
    margin-left: 40%;
    font-weight: 800;
    font-size: 40px;
}

p{
    font-size: 20px;
    align-items: center;
    margin-left: 25rem;
    padding-top: 15px ;
    padding-bottom: 30px;
}

#shoe-container {
     height: 50vh;  /*abhi*/
     width: 90%;     /*abhi*/
     position: relative;
     padding: 60px;    /*abhi*/
     margin: 9.5vh;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-bottom: 2.5rem;   /*abhi*/
}

.shoe-box:hover {
    transform: scale(1.05);
}

.shoe-box {
    height: 400px;  /*abhi*/
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;   /*abhi*/
    text-align: center;
    border: 1px solid #ddd; 
    width: calc(100% - 40px);   /*abhi*/
    box-sizing:border-box;
    margin:1rem;  /*abhi*/
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.shoe-box img {
    filter: drop-shadow(30px 10px 30px rgb(121, 107, 107));
    max-width: 50%; /*abhi*/
    height: auto;
    margin-top: 20px;   /*abhi*/
    z-index: 110px;
}

.shoe-box:hover img {
    transform: translateZ(20px); 
}

button {
    background-color: #007bff;
    color: #ffffff;
    background-color: rgb(254, 20, 20);
    border: none;
    border-radius: 8px;
    padding: 10px 16px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #2c6db3;
}

i{
    font-size: 1.2em;   /*abhi*/
    color: #000000;
    margin-bottom: 10px;
    display: block;
    margin-left: 75%;
    margin-top: 15px;
    display: block; /*abhiiiiiii*/
}

@media screen and (max-width: 768px) {
    #shoe-container {
        flex-direction: column;
        align-items: stretch;
    }

    .shoe-box {
        width: calc(100% - 40px);
        margin: 1rem 0;
    }

    .shoe-box img {
        max-width: 100%;
    }
}









